In [4]:
# Importando pacotes para processamento de dados
import pandas as pd  # Pacote para manipulação de dados em formato tabular
import csv  # Pacote para leitura e escrita de arquivos CSV

# Importando bibliotecas para trabalhar com arquivos e diretórios
import os  # Biblioteca para interação com o sistema operacional

In [16]:
# Obtém o caminho do diretório atual
diretorio_atual = os.getcwd()
# Caminho para a pasta contendo os arquivos CSV
pasta_csv = os.path.join(diretorio_atual, 'DATA')
print(pasta_csv)

c:\Users\Jonathan\Documents\Projetos\temperatura-santos\DATA

In [44]:
# Salva o DataFrame em um novo arquivo CSV com ponto e vírgula como delimitador
caminho_novo_arquivo = os.path.join(pasta_csv, 'Temperatura_brasilia_2000_2022_arquivo.csv')

In [46]:
# Lista para armazenar os DataFrames de cada arquivo CSV
df_temp_brasilia_total = pd.read_csv(os.path.join(pasta_csv, 'Temperatura_brasilia_2000_2022_arquivo.csv'), header =0, sep=';')

In [48]:
df_temp_brasilia_total

,Data,Hora UTC,Precipitacao,Radiacao,Temperatura,Temperatura Maxima,Temperatura Minima,Umidade do Ar,Vento Velocidade
0,2000-05-07,12:00,0,1506,22.6,"22,6","20,7",61.0,"1,8"
1,2000-05-07,22:00,0,-9999,23.2,"24,1","23,2",51.0,"1,3"
2,2000-05-07,21:00,0,34,24.1,"25,8","23,6",51.0,"1,3"
3,2000-05-07,20:00,0,540,25.8,"27,4","25,8",44.0,"1,5"
4,2000-05-07,19:00,0,1412,26.6,"28,1","26,6",41.0,"1,1"
...,...,...,...,...,...,...,...,...,...
193779,2022-12-31,01:00,0,NaN,18.2,"19,6","18,2",88.0,",3"
193780,2022-12-31,00:00,0,NaN,19.5,"19,7","18,9",84.0,"1,1"
193781,2022-12-31,22:00,",2","32,5",20.8,"22,7","20,8",89.0,",3"
193782,2022-12-31,10:00,0,"79,3",19.0,"19,2","18,9",92.0,"1,8"
193783,2022-12-31,23:00,0,NaN,20.1,"20,8","19,9",90.0,1

In [53]:
df_temp_brasilia_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193784 entries, 0 to 193783
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Data                193784 non-null  object
 1   Hora UTC            193784 non-null  object
 2    Precipitacao       193766 non-null  object
 3   Radiacao            177481 non-null  object
 4   Temperatura         193767 non-null  float64
 5   Temperatura Maxima  193765 non-null  float64
 6   Temperatura Minima  193765 non-null  float64
 7   Umidade do Ar       193767 non-null  float64
 8   Vento Velocidade    193768 non-null  float64
dtypes: float64(5), object(4)
memory usage: 13.3+ MB