In [50]:
import pandas as pd
import numpy as np
import os

In [42]:
import os

# Varrendo a pasta Data
for arquivo in os.listdir('Data'):
    nome = os.path.join("Data", arquivo)  # Constrói o caminho completo do arquivo

    with open(nome, 'r', encoding='ISO-8859-1') as file:  # Altere a codificação se necessário
        lines = file.readlines()
            
    # Remove as primeiras 7 linhas se ainda não tiver removido
    remaining_lines = lines[9:]  
        

    # Escrever o novo conteúdo de volta no mesmo arquivo
    with open(nome, 'w', encoding='ISO-8859-1') as file:
        file.write("Data;Hora UTC; Precipitacao;Pressao;Pressao2;Pressao3;Radiacao;Temperatura;Temperatura Ponto de Orvalho;Temperatura Maxima;Temperatura Minima;X;Y;Z;W;Umidade do Ar;Vento;Vento Rajada Maxima;Vento Velocidade\n")
        file.writelines(remaining_lines)

In [ ]:
df = pd.read_csv('Data/DATA_2000.csv', sep=';', encoding='ISO-8859-1',index_col=False)
df

In [ ]:
df.drop(columns=["Pressao","Pressao2","Pressao3","Temperatura Ponto de Orvalho","X","Y","Z","W","Vento","Vento Rajada Maxima"], inplace=True)
df.head(100)

In [63]:
df.head(100)

,Data,Hora UTC,Radiacao,Temperatura,Temperatura Maxima,Temperatura Minima,Umidade do Ar,Vento Velocidade
0,2000-05-07,00:00,-9999,-9999,-9999,-9999,-9999,-9999
1,2000-05-07,01:00,-9999,-9999,-9999,-9999,-9999,-9999
2,2000-05-07,02:00,-9999,-9999,-9999,-9999,-9999,-9999
3,2000-05-07,03:00,-9999,-9999,-9999,-9999,-9999,-9999
4,2000-05-07,04:00,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...
95,2000-05-10,23:00,-9999,22,"23,3",22,61,"2,3"
96,2000-05-11,00:00,-9999,"20,9",22,"20,9",63,"2,6"
97,2000-05-11,01:00,-9999,"20,4",21,"20,4",65,"2,6"
98,2000-05-11,02:00,-9999,20,"20,4","19,8",68,"2,3"
99,2000-05-11,03:00,-9999,"19,5",20,"19,4",71,"2,2"

In [69]:
# Descobrindo os tipos dos dados 
df.dtypes

Data                  object
Hora UTC              object
Radiacao               int64
Temperatura           object
Temperatura Maxima    object
Temperatura Minima    object
Umidade do Ar          int64
Vento Velocidade      object
dtype: object

In [70]:
# Transformando a coluna Data em datetime
df['Data'] = pd.to_datetime(df['Data'])

In [71]:
df.head(3)

,Data,Hora UTC,Radiacao,Temperatura,Temperatura Maxima,Temperatura Minima,Umidade do Ar,Vento Velocidade
0,2000-05-07,00:00,-9999,-9999,-9999,-9999,-9999,-9999
1,2000-05-07,01:00,-9999,-9999,-9999,-9999,-9999,-9999
2,2000-05-07,02:00,-9999,-9999,-9999,-9999,-9999,-9999

In [74]:
# Transformando as temperaturas em float
df['Temperatura'] = df['Temperatura'].str.replace(',','.').astype(float)

In [75]:
df.head(3)

,Data,Hora UTC,Radiacao,Temperatura,Temperatura Maxima,Temperatura Minima,Umidade do Ar,Vento Velocidade
0,2000-05-07,00:00,-9999,-9999.0,-9999,-9999,-9999,-9999
1,2000-05-07,01:00,-9999,-9999.0,-9999,-9999,-9999,-9999
2,2000-05-07,02:00,-9999,-9999.0,-9999,-9999,-9999,-9999

In [76]:
condition = (df['Temperatura'] < -10)
df_filtered = df.drop(df[condition].index)

In [77]:
df_filtered.head(100)

,Data,Hora UTC,Radiacao,Temperatura,Temperatura Maxima,Temperatura Minima,Umidade do Ar,Vento Velocidade
12,2000-05-07,12:00,1506,22.6,"22,6","20,7",61,"1,8"
13,2000-05-07,13:00,2230,24.2,"24,2","22,5",55,"2,7"
14,2000-05-07,14:00,2675,25.0,"25,5","24,3",51,2
15,2000-05-07,15:00,2915,26.2,"27,4",25,44,"2,5"
16,2000-05-07,16:00,2523,26.7,"27,1","25,5",46,"2,4"
...,...,...,...,...,...,...,...,...
107,2000-05-11,11:00,585,18.7,"18,7",17,71,"3,1"
108,2000-05-11,12:00,1394,20.4,"20,5","18,8",66,4
109,2000-05-11,13:00,2140,22.1,"22,5","20,5",60,"3,2"
110,2000-05-11,14:00,2674,23.4,"23,4",22,55,"3,9"
111,2000-05-11,15:00,2943,24.9,"24,9","23,1",51,"2,7"